@import url('https://fonts.googleapis.com/css2?family=Lato&family=Roboto&family=Source+Sans+Pro&display=swap');

.People_page{
    padding-top:7%;
    background-image: url("../images/white-back.webp");
  }


  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 2%;
    font-size: large;
  }


  .Container {
    width: 80%;
    margin: 0 auto;
    margin-top: 45px;
    display: flex;
    flex-wrap: wrap;
  }

  .Person{
    padding-top:5%;
    padding-left: 15%;
    display:flex;
    padding-bottom: 10%;
  }

  .information{
    font-family:"Lato";
  }

  .picture{
    padding-left: 5%;
  }
  .photo{
    width:40%;
  }

  .photo_3{
    width:55%;
  }

  .photo_4{
    width:60%;
  }