@import url('https://fonts.googleapis.com/css2?family=Lato&family=Roboto&family=Source+Sans+Pro&display=swap');

.person_page{
    padding-left: 7%;
    background-image: url("../images/white-back.webp");
    display:flex;
    padding-bottom: 10%;
    flex-direction: column;
}

.text_info{
    font-family: "Roboto";
    padding-top: 10%;
    padding-left:10%;
}

.main_text p{
    font-family:"Lato";
}

.person_picture{
    padding-top: 10%;
    padding-left: 5%;
}

.main_info{
    display:flex;
    flex-direction: row;    
}

.image_galery{
    display:flex;
    //flex-direction: column;
    //align-items: center;
    padding-left: 15vw;
    padding-right: 15vw;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

h4{
    text-align: center;
    padding-bottom: 3vh;
}

// .galery_row{
//     display:flex;
//     // flex-direction: row;
//     flex-wrap: wrap;
//     justify-content: space-between;
//     padding-bottom: 1vh;
// }

.galery_photo{
    display: flex;
    width: 400px;
    height: 300px;
    height: auto;
    padding-bottom: 1vh;
}

.maps{
    padding-top: 5vh;
    display:flex;
    flex-direction: column;
    align-items: center;
}

.video-player {
    display: flex;
    justify-content: center;
    padding-top: 5vh;
    // width: 80vw;
    // height: 60vh;
}

.voinov {
    width: 15vw;
}

.zaborsky{
    width: 15vw
}