.Search {
  padding-top: 1%;
    width: 400px;
    margin: 0 auto;
    position: relative;
    display: flex;
  }
  .SearchButton {
    width: 20%;
    border: 1px solid RGB(220, 53, 69);
    border-radius: 0 7px 7px 0;
    background: RGB(220, 53, 69);
    padding-top: 4px;
    text-align: center;
    color: #fff;
    font-size: 20px;
  }
  .SearchInput {
    width: 85%;
    border: 3px solid RGB(220, 53, 69);
    border-radius: 7px 0 0 7px;
    padding: 5px;
    outline: none;
  }